extends ../layouts/default
block body
  h2 Welcome to Synthify
  if req.user
    pre !{JSON.stringify(req.user)}
    ul
      li
        a(href='/logout/') Logout
      li
        a(href='/connect/') Connect
  else
    ul
      li
        a(href='/login/') Login
      li
        a(href='/signup/') Signup
block footer
