extends default/layout
block content
  h1 Hello Synthify
  h2 Avaliable Links
  ul
    li
      a(href='/foo') /foo
    li
      a(href='/bar') /bar
    li
      a(href='/api/foo') /api/foo
block footer
