doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/index/index.min.css?#{cacheBreaker}')
    // link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    // link(rel="icon", href="/favicon.ico", type="image/x-icon")
    block neck
  body(style='background-color:#f0f0f0')
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        include ./navbar

    div.page
      div.container
        block body

    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            |&#169; 2014 foo
          ul.links
            li: a(href='/') Home
            li: a(href='/contact/') Contact
          div.clearfix

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    block feet
