div.navbar-header
  a.navbar-brand(href='/')
    i.navbar-logo.fa.fa-bullseye(style='font-size:32px;')
div.navbar-collapse.my-navbar-collapse.collapse
  ul.nav.navbar-nav
    li
      a(href='#') Synthify
  ul.nav.navbar-nav.pull-right
    if user && user.username
      li
        a(href="#") have user
      li
        a(href='/help')
          | help
    else
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown')
          span(style='margin-right:5px')  About
          b.caret
        ul.dropdown-menu
          li
            a(href='#')
              |  News
          li
            a(href='#')
              |  Press
          li
            a(href='#')
              |  About
      li: a(href='/signup/')
        i.fa.fa-user
        |  Get on Board
