div.navbar-header
  a.navbar-brand(href='/')
    i.navbar-logo.fa.fa-bullseye(style='font-size:32px;')
div.navbar-collapse.my-navbar-collapse.collapse
  ul.nav.navbar-nav
    li
      a(href='#') Synthify
  ul.nav.navbar-nav.pull-right
      li
        a(href='#')
          | help
      if req.user
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            if req.user.username
              span(style='margin-right:5px') #{req.user.username}
            else
              span(style='margin-right:5px') #{req.user.email}
            b.caret
          ul.dropdown-menu
            li
              a(href='/connect/')
                |  Connect Accounts
            li
              a(href='/logout/')
                |  Logout
      else
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            span(style='margin-right:5px')  Get on board
            b.caret
          ul.dropdown-menu
            li
              a(href='/login/')
                |  Login
            li
              a(href='/signup/')
                |  Signup
