div.navbar-header
  a.navbar-brand(href='/')
    i.navbar-logo.fa.fa-try(style='font-size:64px;')
  span.navbar-brand-label(style='padding-left:10px;font-size:.8em;color:#cccccc') alpha
  button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
    span.icon-bar
div.navbar-collapse.my-navbar-collapse.collapse
  ul.nav.navbar-nav.pull-right
    if user && user.username
      li
        a(href="javascript:var t = encodeURIComponent(document.title);var u = encodeURIComponent(location.href);window.open('http://tje.io/news/submit?t='+t+'&u='+u);", onclick="alert('Drag bookmarklet to browser'); return false;") 
          img(src='/media/bmarrsm.png', alt='tje.io') 
          span tje-io
      li
        a(data-toggle='modal', data-target='#news_submit_modal', href="#") submit news
      li
        a(href='/help') 
          | help
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown')
          img(src='#{imgUrlPath}/#{user.username}.jpg', style='height:20px;width:20px;border-radius:3px', onerror="$(this).attr('src', 'http://placehold.it/20x20')")
          span(style='margin-right:5px')  #{user.username}
          b.caret
        ul.dropdown-menu
          li
            a(href='/#{user.username}')
              |  My Profile
          li
            a(href='/dashboard/')
              |  My Dashboard
          li
            a(href='/logout/')
              |  Sign Out
    else
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown')
          span(style='margin-right:5px')  About
          b.caret
        ul.dropdown-menu
          li
            a(href='/help/news/')
              |  News
          li
            a(href='/help/profiles/')
              |  Profiles
          li
            a(href='/help/pricing/')
              |  Pricing
          li
            a(href='/help/about/')
              |  About
      li: a(href='/signup/')
        i.fa.fa-user
        |  Get on Board
