style(type='text/css')
  include ./price.css
.row
    .col-xs-12.col-md-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | Free
        .panel-body
          .the-price
            h1
              | Free
            small During Alpha
          table.table
            tr
              td
                | Enhanced Profile
            tr.active
              td
                | Submit News
            tr
              td
                | Comment on news
            tr.active
              td
                | Up& Down Vote
            tr
              td
                | Make Suggestions
            tr.active
              td
                | Active feedback
        .panel-footer
          a.btn.btn-success(href='#', role='button') Available
          br
          | During Alpha
    .col-xs-12.col-md-3
      .panel.panel-success
        .cnrflash
          .cnrflash-inner
            span.cnrflash-label
              | MOST
              br
              | POPULAR
        .panel-heading
          h3.panel-title
            | Silver
        .panel-body
          .the-price
            h1
              | $19
              span.subscript /mo
            small 1 month FREE trial
          table.table
            tr
              td
                | Enhanced Profile
            tr.active
              td
                | Submit News
            tr
              td
                | Comment on news
            tr.active
              td
                | Up & Down Vote
            tr
              td
                | --
            tr.active
              td
                | --
        .panel-footer
          a.btn.btn-success(href='#', role='button') Coming..
          br
          | 1 month FREE trial
    .col-xs-12.col-md-3
      .panel.panel-info
        .panel-heading
          h3.panel-title
            | Gold
        .panel-body
          .the-price
            h1
              | $49
              span.subscript /mo
            small 1 month FREE trial
          table.table
            tr
              td
                | Enhanced Profile
            tr.active
              td
                | Submit News
            tr
              td
                | Comment on news
            tr.active
              td
                | Up & Down Vote
            tr
              td
                | Advertise
            tr.active
              td
                | Detailed reports
        .panel-footer
          a.btn.btn-success(href='#', role='button') Coming..
          br
          | 1 month FREE trial

