extends ../../layouts/default

block head
  title Sign Up

block feet
  script(src='/views/signup/social.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-4
      div.page-header
        h1 Complete Sign Up
      div#signup
    div.col-sm-8.marketing
      div.page-header
        h1 Plans
      include ./price

  script(type='text/template', id='tmpl-signup')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label.control-label Enter Your Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%- errfor.email %>
      div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label.control-label Enter Your Username:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      div.form-group(class!='<%- errfor.plan ? "has-error" : "" %>')
        label.control-label Choose Plan:
        select.form-control(name='plan')
          option(selected = 'true') Free
          option Silver
          option Gold
        span.help-block <%- errfor.plan %>
      .well(style='position:relative')
        .cnrflash(style='right:-12px')
          .cnrflash-inner
            span.cnrflash-label
              | Great Deal
        div
          | Limited Time Free Premium Plans
          ul
            li Free during current Alpha Phase
            li You help shape the offering
            li Early adopter badge issued
      div.form-group
        button.btn.btn-primary.btn-signup(type='button') Create My Account

  script(type='text/template', id='data-email') !{email}
  script(type='text/template', id='data-username') !{username}
