extends ../layouts/default

block head
  title Login

block neck
  link(rel='stylesheet', href='/css/login/index.min.css?#{cacheBreaker}')

block feet
  script(src='/js/login/index.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6.col-sm-offset-3
      div.page-header
        h1 Sign In
      include social
      p Or Login with a password ...
      div#login(style='background-color:#f0f0f0;padding:20px;border-radius:10px')

  script(type='text/template', id='tmpl-login')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label.control-label Username or Email:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      div.form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label.control-label Password:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%- errfor.password %>
      div.form-actions
        button.btn.btn-primary.btn-login(type='button') Sign In
        |&nbsp;
        a.btn.btn-link(href='/login/forgot/') Forget your password?
