extends ../layouts/default

block head
  title Sign Up

block neck
  link(rel='stylesheet', href='/css/login/index.min.css?#{cacheBreaker}')

block feet
  script(src='/js/login/signup.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6.col-sm-offset-3
      div.page-header
        h1 Sign Up
      if oauthTwitter || oauthGoogle || oauthFacebook || oauthGoogle
        include ./social.jade
        p Or signup with an email and password ...
      else
        p signup with an email and password ...
      div#signup(style='background-color:#f0f0f0;padding:20px;border-radius:10px')

  script(type='text/template', id='tmpl-signup')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label.control-label Pick a Username:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label.control-label Enter Your Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%- errfor.email %>
      div.form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label.control-label Create a Password:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%- errfor.password %>
      div.form-group
        button.btn.btn-primary.btn-signup(type='button') Create My Account
