extends ../layouts/default

block body
  h1 Hello Foo
  h2
    | go to &nbsp;
    a(href='/bar') bar
  h3
    pre #{JSON.stringify(preloadData)}

  h4 Aloha: #{preloadData["/api/foo"].aloha}

  script(src='/js/foo.js')
